<!-- <nav class="navbar navbar-light bg-light fixed-top hsidebar_drop">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Newlife  Hospital</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <img src="/images/logo.jpg" alt="">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Newlife Hospital</h5>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard/patients">Patients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard/doctors">Doctors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-light bg-light fixed-top hsidebar_drop">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Newlife Hospital</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Newlife Hospital</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard/patients">Patients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newlife/hdashboard/doctors">Doctors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<div class="sidebar">

    <div class="logo-details">
        <span class="logo_name">Newlife Hospital</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Home</a></li>
            </ul>
        </li>
        <li>
            <a href="/newlife/hdashboard">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/newlife/hdashboard">Dashboard</a></li>
            </ul>
        </li>
        
    <li>
        <a href="/signup">
            <i class="fa-solid fa-user"></i>
            <span class="link_name">Register</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="/signup">Register</a></li>
        </ul>
    </li>
    <li>
        <a href="/newlife/hdashboard/doctors">
            <i class="fa-solid fa-user-doctor"></i>
            <span class="link_name">Doctors</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="/newlife/hdashboard/doctors">Doctors</a></li>
        </ul>
    </li>
    <li>
        <a href="/newlife/hdashboard/patients">
            <i class="fa-solid fa-bed"></i>
            <span class="link_name">Patients</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="/newlife/hdashboard/patients">Patients</a></li>
        </ul>
    </li>
    
    
    <li>
        <a href="/logout">
            <div class="profile-details">
                <i class="fa-solid fa-right-from-bracket"></i>
                <div class="name-job">
                    <div class="profile_name">Log out</div>
                </div>
            </div>
        </a>
    </li>
</ul>
</div>
