<!-- Navbar 1 - Bootstrap Brain Component -->
<nav class="navbar navbar-expand-md bg-light bsb-navbar bsb-navbar-hover bsb-navbar-caret">
    <div class="container">
        <h2>Newlife Hospital</h2>
      <!-- <a class="navbar-brand" href="index.html">
        <img src="./assets/img/bsb-logo.svg" alt="BootstrapBrain Logo" width="135" height="44">
      </a> -->
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
              <li class="nav-item">
                  <a class="nav-link active" href="/" id="servicesDropdown" role="button">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#!" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">About us</a>
                    <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="servicesDropdown">
                      <li><a class="dropdown-item" href="#!">About us</a></li>
                      <li><a class="dropdown-item" href="#!">Our Team</a></li>
                      <li><a class="dropdown-item" href="#!">Milestones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#!" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                    <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="#!">Physicians</a></li>
                        <li><a class="dropdown-item" href="#!">Cardiology</a></li>
                        <li><a class="dropdown-item" href="#!">Neurology</a></li>
                        <li><a class="dropdown-item" href="#!">Gynecology</a></li>
                        <li><a class="dropdown-item" href="#!">Dermatology</a></li>
                        <li><a class="dropdown-item" href="#!">Radiology</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/newlife/appointment">FIND A DOCTOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#!">Contact Us</a>
                </li>
                <% if(currUser){ %>
                <li class="nav-item dropdown">
                <% } %>
                  <% if(!currUser){ %>
                    <a class="nav-link active" href="/login" >Login</a>
                  <% } %>
                  <% if(currUser){ %>
                    <!-- <i class="fa-solid fa-user"></i> -->
                    <a class="nav-link  active" href="/login" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user"></i>
                    </a>
                  <% } %>

                    <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="accountDropdown">
                        <% if(currUser){ %>
                            <% if(currUser.role == "hospital"){ %>
                              <li><a class="dropdown-item" href="/newlife/hdashboard">Dashboard</a></li>
                            <% } %>
                            <% if(currUser.role == "doctor"){ %>
                              <li><a class="dropdown-item" href="/newlife/ddashboard/<%= currUser._id %>">Dashboard</a></li>
                            <% } %>
                            <% if(currUser.role == "patient"){ %>
                              <li><a class="dropdown-item" href="/">Dashboard</a></li>
                            <% } %>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                          </ul>
                        <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>
