<% layout("/layouts/boilerplate") %>

<div class="home_container">
    <div>
        <img class="img_bg" src="images/img6.jpg" alt="">
    </div>
    <div class="schedule_cont">
        <div class="schedule">
            <h2>Emergency Cases</h2>
            <p> Provides clinicians trained in all aspects of emergency and acute care . For emergencies, call 020 66096000
            </p>
            <a href="">Read more</a>
        </div>
        <div class="schedule">
            <h2>Opening Hours</h2>
            <p>Hospital will open 24/7 </p>
            <a href="">Read more</a>
        </div>
        <div class="schedule">
            <h2>Doctors Appointment</h2>
            <p>To get doctor appointment please visite below . </p>
            <a href="/newlife/appointment">get appointment</a>
        </div>
    </div>
    <section class="Feautes section">
        <div class="featur_cont">
                    <div class="section-title">
                        <h2>We Are Always Ready to Help You & <br>Your Family</h2>
                        <img src="images/section-img.png" alt="#">
                        <p>Personal care, professional approach. It's all about how we treat you.</p>
                    </div>
                    <!-- Start Single features -->
                    <div class="feature_container">
                        <div class="single-features feture_dot">
                            <div class="signle-icon">
                                <i class="fa-solid fa-truck-medical"></i>
                            </div>
                            <h3>Emergency Help</h3>
                            <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                        </div>
                        <div class="single-features">
                            <div class="signle-icon feture_dot">
                                <i class="fa-solid fa-hospital"></i>
                            </div>
                            <h3>Enriched Pharmecy</h3>
                            <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                        </div>
                        <!-- Start Single features -->
                        <div class="single-features last">
                            <div class="signle-icon">
                                <i class="fa-solid fa-stethoscope"></i>
                            </div>
                            <h3>Medical Treatment</h3>
                            <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                        </div>
                        <!-- End Single features -->
                    </div>
        </div>
    </section>

    <div class="count_container">
        <div class="count_content">
            <div class="count_icon">    
                <i class="fa-solid fa-house"></i>
            </div>
            <div>
                <h1>150</h1>
                <p>Hospital Rooms</p>
            </div>
        </div>
        <div class="count_content">
            <div class="count_icon">
                <i class="fa-solid fa-user-doctor"></i>       
            </div>
            <div>
                <h1>50</h1>
                <p>Specialist Doctors</p>
            </div>
        </div>
        <div class="count_content">
            <div class="count_icon">
                <i class="fa-regular fa-face-smile"></i>            
            </div>
            <div>
                <h1>1500</h1>
                <p>Happy Patients</p>
            </div>
        </div>
        <div class="count_content">
            <div class="count_icon">
                <i class="fa-regular fa-calendar-days"></i>            
            </div>
            <div>
                <h1>23</h1>
                <p>Year of Experience</p>
            </div>
        </div>
    </div>
    
    <div class="dignostic">
        <h2>Diagnostics</h2>
        <div class="dig_cont">
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/physician.png" alt="">
                </div>
                <p>Phisicyans</p>
            </div>
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/heart.png" alt="">
                </div>
                <p>Cardiology</p>
            </div>
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/neural-circuit.png" alt="">
                </div>
                <p>Neurology</p>
            </div>
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/skin.png" alt="">
                </div>
                <p>Dermatology</p>
            </div>
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/maternity.png" alt="">
                </div>
                <p>Gynacology</p>
            </div>
            <div class="dig_box">
                <div class="dig_icons">
                    <img src="images/x-ray.png" alt="">
                </div>
                <p>Radiology</p>
        </div>
    </div>
</div>

<div class="blogs_cont">
    <h2>Read our daily blog</h2>
    <div class="blog_box">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1681967103563-871828436e1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHx8fDA%3D" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.istockphoto.com/id/530684779/photo/two-doctors-preparing-elderly-patient-before-medical-procedure.webp?b=1&s=170667a&w=0&k=20&c=9Ek2ILhWmoUn9KD_xM9OBudQIgqAcFUs7FlR_NBpmWY=" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1549560826-4b7bfe23f37b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvc3BpdGFsJTIwcGF0aWVudHxlbnwwfHwwfHx8MA%3D%3D" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="emergency">
    <div class="e_box">
        <h2>Do you need Emergency Medical <br>Care? Call @ 1234 56789</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, veniam. Tenetur voluptatum cum quis eum laborum, veritatis, nemo voluptatem </p>
        <div class="e_buttons">
            <button class="button-9" role="button">Contact Now</button>
            <button class="button-9" role="button">Learn More &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>



</div>